<header>
    <nav class="navbar navbar-expand-lg navbar-dark">
        <div class="container">
            <a class="navbar-brand" href="/home">
                <img src="../../../assets/img/logoHeader.png" width="80" alt="Logo ALS">
            </a>
            <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNavAltMarkup"
                aria-controls="navbarNavAltMarkup" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
                <div class="navbar-nav ms-auto">
                    <div class="text-center mx-3">
                        <a class="nav-link" href="/home">
                            <i class="fa-solid fa-house"></i><br>
                            Inicio
                        </a>
                    </div>
                    <div class="text-center mx-3">
                        <a class="nav-link" href="#">
                            <i class="fa-solid fa-users"></i><br>
                            Administración
                        </a>
                    </div>
                    <div class="text-center mx-3">
                        <a class="nav-link" href="#">
                            <i class="fa-solid fa-magnifying-glass-chart"></i><br>
                            Vista Comercial
                        </a>
                    </div>
                    <div class="text-center mx-3">
                        <a class="nav-link" href="#">
                            <i class="fa-solid fa-door-open"></i><br>
                            Salir
                        </a>
                    </div>

                </div>
            </div>
        </div>
    </nav>
</header>



