<!-- <div class="login-container">
    <div class="card">
        <div class="card-header text-center bg-dark">
            <img src="../../../assets/img/logoAzul-Trasparente.png" width="220px" class="text-center" alt="Logo Azul">
        </div>
        <div class="card-body">
            <form [formGroup]="formLogin" (ngSubmit)="login()">
                <div class="form-group">
                    <label for="email">Correo Eletronico:</label>
                    <input type="email" formControlName="correo" class="form-control my-2" id="correo"
                        placeholder="ejemplo@dominio.com">
                </div>
                <div class="form-group">
                    <label for="password">Contraseña:</label>
                    <input type="password" formControlName="password" class="form-control my-2" id="password"
                        name="password" required placeholder="*************">
                </div>
                <div class="text-center">
                    <button type="submit" [disabled]="formLogin.invalid" class="btn btn-primary my-2 fw-bold">Iniciar
                        Sesión</button>
                </div>
            </form>
        </div>
    </div>
</div>  . LOGIN ANTERIOR-->

<div class="container d-flex justify-content-center align-items-center vh-100">
    <div class="card mb-3" style="max-width: 540px;">
        <div class="row g-0">
            <div class="col-md-4" style="background-color:rgb(0,76,171);">
                <img src="../../../assets/img/logoAzul-Trasparente.png" class="img-fluid rounded-start" alt="Logo">
            </div>
            <div class="col-md-8">
                <div class="card-body">
                    <h5 class="card-title fw-bold">Acceso Administración de muestras</h5>
                    <form [formGroup]="formLogin" (ngSubmit)="login()">
                        <div class="form-group">
                            <div class="input-group mb-3 mt-4">
                                <span class="input-group-text" id="basic-addon1"><i
                                        class="fa-solid fa-envelope text-primary"></i></span>
                                <input type="email" formControlName="correo" class="form-control " id="correo"
                                    placeholder="ejemplo@dominio.com">
                            </div>
                        </div>
                        <div class="form-group">
                            <div class="input-group mb-3 mt-2">
                                <span class="input-group-text" id="basic-addon1"><i class="fa-solid fa-key text-primary"></i></span>
                                <input type="password" formControlName="password" class="form-control " id="password"
                                    name="password" required placeholder="*************">
                            </div>
                        </div>

                        <div class="text-center">
                            <button type="submit" [disabled]="formLogin.invalid" class="btn  btn-primary my-2 fw-bold">
                                <i class="fa-solid fa-paper-plane"></i>
                                Iniciar
                                Sesión
                                <span *ngIf="isLoading" class="spinner-border spinner-border-sm" role="status"
                                    aria-hidden="true"></span>
                            </button>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>