<app-header></app-header>

<main class="container-fluid">
    <div class="text-center mt-3">
        <button class="btn btn-primary fw-bold my-1" (click)="modalOT(modalnew)"><i
                class="fa-solid fa-file-circle-plus"></i> CREAR ORDEN DE TRABAJO</button>
    </div>
</main>


<!-- Nueva Orden de trabajo -->
<ng-template #modalnew let-modal>
    <div class="modal-header bg-primary">
        <div class="modal-title text-white fw-bold">Nuevo Orden de trabajo</div>
        <button class="btn-close" aria-label="close" type="button" (click)="closeModalNuevo()">
        </button>
    </div>
    <form (ngSubmit)="guardaraOT()" [formGroup]="frmOrdenTrabajo" >
        <div class="modal-body">
            <div class="row">
                <div class="col-sm">
                    <label class="form-label fw-bold">Job ID Colina: <span class="text-danger">*</span><span class="asteric" title="Requerido"></span></label>
                    <input type="text" readonly id="jobIdColina" [(ngModel)]="jobIDColinaInput" formControlName="jobIdColina" class="form-control form-control-sm"  >
                </div>
            </div>
            <div class="row">
                <div class="col-sm">
                    <label class="form-label fw-bold">Fecha Aviso:<span class="text-danger">*</span></label>
                    <input type="date" formControlName="fechaAviso" class="form-control form-control-sm">
                </div>
                <div class="col-sm">
                    <label class="form-label fw-bold">Cliente: <span class="text-danger">*</span></label>
                    <select  formControlName="cliente" class="form-select form-select-sm" name="cliente" id="cliente">
                        <option value="" disabled selected>-- Seleccione --</option>
                        <option *ngFor="let cliente of clientes" [value]="cliente.id">{{ cliente.nombre }}</option>
                    </select>
                </div>
            </div>
            <div class="row">
                <div class="col-sm">
                    <label class="form-label fw-bold">Material:</label>
                    <select  formControlName="nombreMaterial" class="form-select form-select-sm" name="nombreMaterial" id="nombreMaterial">
                        <option value="" disabled selected>-- Seleccione --</option>
                        <option value="losbronces"  >LOS BRONCES</option>
                    </select>
                </div>
                <div class="col-sm">
                    <label class="form-label fw-bold">Mina:</label>
                    <input type="text" formControlName="nombreMina" class="form-control form-control-sm">
                </div>
            </div>
        </div>
        <div class="modal-footer">
            <button type="submit" class="btn btn-success" [disabled]="!frmOrdenTrabajo.valid">
                <i class="fa-solid fa-file-circle-plus"></i>
                Crear OT</button>
        </div>
    </form>
</ng-template>